$bg-gray-color: #f8f8f8;
$gray-color: #f2f2f2;

$radius: 10px;
$radius-collect: 25px;

.accordion__section {
  display: flex;
  flex-direction: column;

  .accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 10px;

    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  }

  .accordion__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .rotate {
    transform: rotate(90deg);
  }

  .accordion__content {
    background-color: white;
    overflow: auto;

    .accordion__text {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding: 5px;

      div {
        padding: 2px 0;
      }
    }
  }
}
