$bg-gray-color: #f8f8f8;
$gray-color: #828282;
$gray2-color: #f2f2f2;
$gray3-color: #ced4da;

$blue-color: #005cc8;
$blue2-color: #2d9cdb;
$green-color: #219653;
$green2-color: #27ae60;

$red-color: #e43226;
$red2-color: #b02418;

$orange-color: #f7971d;
$aqua-color: #d8ffe6;
$antique-color: #fff2e2;
$thistle-color: #f0e5f5;
$bisque-color: rgba(254, 131, 104, 0.15);
$lightBlue-color: rgba(74, 191, 255, 0.15);

$orange2-color: #f2994a;
$orange3-color: #fe8368;
$purple-color: #bb6bd9;
$while-color: #f2f2f2;

$bg-dark-color: #262626;
$bg-shadow: rgba(0, 0, 0, 0.15);

$radius: 10px;
$radius-collect: 25px;

.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

//**auth**//
.bg-background-auth {
  background-color: $bg-gray-color;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.col_block--auth {
  h1 {
    font-weight: bold;
    font-size: 30px;
  }

  h6 {
    color: $gray-color;
  }

  .col_block--card {
    border-radius: 6px;
  }

  .dropdown-toggle {
    cursor: pointer;
    &::after {
      font-size: 0;
    }
  }

  Form {
    .form-default--text {
      text-align: right;
    }
    .form-control {
      &.is-invalid {
        background-image: none;
      }
      &:focus {
        box-shadow: none;
        border-color: $gray-color;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid $gray-color !important;
      }
    }
    .text-regist {
      font-size: 12px;
    }
    i.icon-hidden {
      position: absolute;
      top: 38px;
      right: 3%;
      svg {
        width: 19px;
      }
    }
    input,
    button {
      border-radius: 10px;
    }
    .otp input[type='text'] {
      width: 21% !important;
      height: 40px !important;
      border: 1px solid $gray-color;
      text-align: center;
      margin-right: 20px;
      &:last-child {
        margin-right: 0 !important;
      }
      &:focus-visible {
        outline: $gray-color;
      }
    }

    button {
      background-color: $while-color;
      border-color: $while-color;
      &:hover {
        background-color: $red-color;
        border-color: $red-color;
      }
      &:focus {
        background-color: $red-color;
        border-color: $red-color;
        box-shadow: none;
      }
    }
  }
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

//navigation bar
.header {
  padding: 0px 15px;

  &.sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 91;

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px 15px;
      width: 100%;
      background: #fff;
      box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
      opacity: 0;
      -webkit-animation: fadeInDown 0.95s ease-in-out 0s 1 normal none running;
      animation: fadeInDown 0.95s ease-in-out 0s 1 normal none running;
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 1;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  .navbar {
    padding: 10px 0px;
    line-height: 50px;
    align-items: center;

    .language_dropdown {
      width: 40%;
    }

    .dropdown-toggle {
      cursor: pointer;
      &::after {
        font-size: 0;
      }
    }

    .btn-create {
      background-color: $red-color;
      border-radius: $radius;
      color: $while-color;
      padding: 10px;
      line-height: 1;

      cursor: pointer;
      &:hover {
        background-color: $red-color;
        color: $gray2-color;
      }

      &::after {
        font-size: 0;
      }
    }

    .dropdown {
      .dropdown-menu {
        border-radius: $radius;
        filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.25));
        border: none;
      }
    }
  }
}

//section banner
.s-banner {
  .s-banner__content--image {
    position: relative;

    .s-banner__content--title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.25px;
      }

      h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
      }

      .input_search {
        position: relative;

        .input_search--sticker {
          position: absolute;
          top: 25%;
          left: 3%;
          z-index: 1;
        }

        .form-control {
          padding-left: 30px;

          &:focus-visible {
            outline: none;
          }

          &:focus {
            box-shadow: none;
            border-color: $gray3-color;
          }

          &.form-search-left {
            border-radius: $radius 0 0 $radius !important;
            border-right: 0;
          }

          &.form-search-right {
            border-left: 0;
            border-radius: 0 !important;
          }
        }

        .border_center {
          position: absolute;
          top: 76%;
          right: 0;
          width: 24px;
          height: 0px;
          border: 1px solid $gray3-color;
          transform: rotate(90deg) translate(-50%, -50%);
          z-index: 2;
        }

        .input-group-text {
          border-start-end-radius: $radius;
          border-end-end-radius: $radius;
          background-color: $red-color;
          border-color: $red-color;
          width: 50px;

          &:focus-visible {
            outline: none;
            border: 1px solid $gray-color !important;
          }

          &:focus {
            box-shadow: none;
            border: 1px solid $gray-color !important;
          }
        }
      }
    }
  }
}

//section main
.s-main {
  padding: 4rem 0 0.8rem 0;

  //popular
  .s-popular {
    .s-popular__content__body {
      .slick-prev {
        left: -5px;
        top: 30%;
        z-index: 1;

        &::before {
          display: none;
        }
      }

      .slick-next {
        right: 35px;
        top: 30%;
        z-index: 1;

        &::before {
          display: none;
        }
      }

      .card__item {
        padding: 5px;

        .card {
          box-shadow: 0px 2px 6px $bg-shadow;
          border-radius: $radius;
          border: 0;

          img {
            border-radius: $radius $radius 0 0;
          }

          .card__item--sub-img {
            position: absolute;
            right: 5%;
            top: 5%;
            padding: 0 4px;
            background: #0c1a30;
            color: $gray2-color;
            border-radius: 4px;
            opacity: 0.4;
          }
        }
      }
    }
  }

  //category
  .s-category {
    padding: 2rem 0;

    .s-category__content {
      padding: 1rem;
      background: white;
      box-shadow: 0px 2px 6px $bg-shadow;
      border-radius: $radius;

      .s-category__content__body {
        .product {
          text-align: -webkit-center;

          .product_spin {
            width: 98px;
            height: 98px;
            padding: 25px;
            border-radius: 100%;

            border: 1px solid $gray3-color;
            text-align: center;
            justify-content: center;
            align-items: center;
          }

          h6 {
            font-size: 14px;
            font-weight: 600;
            padding-top: 1rem;
          }
        }
      }
    }
  }

  //latest
  .s-latest {
    .s-latest__content__body {
      .card__item {
        .card {
          box-shadow: 0px 2px 6px $bg-shadow;
          border-radius: $radius;
          border: 0;

          img {
            border-radius: $radius $radius 0 0;
          }
          .card__item--sub-img {
            position: absolute;
            right: 5%;
            top: 3%;
            padding: 0 4px;
            background: #0c1a30;
            color: $gray2-color;
            border-radius: 4px;
            opacity: 0.4;
          }
          .card-body {
            .text_price {
              h6 {
                color: $green2-color;
              }

              .bookmark {
                border: 1px solid #828282;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 0 3px;
                opacity: 0.4;
              }
            }
          }
        }
      }
    }

    .s-latest__footer {
      padding-top: 2rem;
      justify-content: center;
      text-align: center;

      a.btn_load {
        background: $bg-gray-color;
        border-radius: 10px;
        border: 1px solid transparent;
        color: $red-color;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

//footer
.footer-widget {
  background: $bg-dark-color;
  color: $while-color;
}
