$black_color: #222222;
$gray_color: #a1a1a1;

//navigation
.header_country {
  background-color: $black_color;
  .user_icon {
    color: $gray_color;
  }
}

//index country
.s-country {
  background: url('/country/bg-country.png') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 89px);

  .s-country__footer {
    background: rgba($black_color, 0.65);
    box-shadow: 0px 4px 30px rgba($black_color, 0.17);
    backdrop-filter: blur(60px);
    margin-top: 5rem;
    border-radius: 20px;
  }
}
